@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); 

body, html { 
  background-color: rgb(52, 73, 94); 
  color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.container {
  box-sizing: border-box;
  max-width: 100%;
  width: 75%;
  height: 80vh;
  margin: 0 auto;
}

.conteudo{
  background-color: rgb(44, 62, 80);
  margin: 0;
  display: flex;
  text-align: left;
  flex-direction: row;
  height: 100%;
}
.conteudoLocalizacao { 
  font-size: 1.5em;
}  
.rodape { 
  text-align: center; border-radius: 5%;
}
.cabecalhoConteudo {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333;
}
.dados{
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 13%;
}

.form{
  background-color: rgb(44, 62, 80);
} 
.salvar{
  color: white;
  position: relative;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out .3s;
  background-color: rgb(231,60,87);
}
.container2{
  position: relative;
  height: 7.6%;
}
.salvar:hover{
  background-color:  rgb(204, 44, 68);
}
#mapa{
  height: 89%;
}
.side1{
  height: 100%;
}
label{
  font-size: 2.8vh;
}
h2{
  text-align: center;
}
.btn{
  color: white;
  position: relative;
  border: none;
  margin-top: 4.3%;
  width: 100%;
  height: 7.5%;
  font-size: 3vh;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out .3s;
  background-color: rgb(231,60,87);
  margin-bottom: 0px;
}

.btn:hover{
  background-color:  rgb(204, 44, 68);  
}

.list{
  width: 100%;
  margin-top: 2vh;
  height: 5vh;
}

#formulario{
  position: relative;
  width: 100%;
  height: 100%;
}
.form1{
  position: relative;
  height: 89%;
}

.map_part{
  height: 100%;
  width: 100%;
}
